body {
    color: #222222;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
}

h1 {
    font-size: 32px;
    padding: 0px 15px 16px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #194173;
    font-weight: 900;
    font-family: tahoma;
    line-height: 48px;
    margin-left: -15px;
}

h1::before {
    background-image: url(https://discourse.adc.arm.gov/uploads/default/original/1X/ee3632e099d25f6d95840aa02597febd3d00b088.png);
    background-repeat: no-repeat;
    background-size: 143px;
    background-position: -20px 12px;
    display: inline-block;
    width: 140px;
    height: 52px;
    content: "";
}

h1::after {
    background-image: url(https://discourse.adc.arm.gov/uploads/default/original/1X/1a43a933716be9071788d3d6fc3a8efb09b9ebbe.png);
    background-repeat: no-repeat;
    background-size: 151px;
    background-position: 27px 12px;
    display: inline-block;
    width: 189px;
    height: 52px;
    content: "";
}

form::before {
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='650px' height='230px'%3E%3CforeignObject width='100%25' height='100%25'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' style='font-family: Helvetica; font-size: 12px; width: 100%25;'%3E%3Cdiv style='padding: 10px; border: 1px solid rgb(220, 220, 220); border-radius: 5px; background-color:rgb(245, 245, 245)'%3E This is a Department of Energy (DOE) computer system. DOE computer systems are provided for the processing of official U.S. Government information only. All data contained within DOE computer systems is owned by the DOE, and may be audited, intercepted, recorded, read, copied, or captured in any manner and disclosed in any manner, by authorized personnel. THERE IS NO RIGHT OF PRIVACY IN THIS SYSTEM. System personnel may disclose any potential evidence of crime found on DOE computer systems to appropriate authorities. %3Cp%3EUSE OF THIS SYSTEM BY ANY USER, AUTHORIZED OR UNAUTHORIZED, CONSTITUTES CONSENT TO THIS AUDITING, INTERCEPTION, RECORDING, READING, COPYING, CAPTURING, and DISCLOSURE OF COMPUTER ACTIVITY.%3C/p%3E%3C/div%3E%3Cdiv style='margin-top: 30px;'%3E%3Cdiv style='font-weight: bold; font-size: 14px;'%3E Please log in with your ARM LDAP account* credentials: %3C/div%3E%3Cdiv style='font-style: italic; margin-top: 5px;'%3E (Note that the first time logging into the forum, users will also need to be admitted by a site moderator.) %3C/div%3E%3C/div%3E%3C/div%3E%3C/foreignObject%3E%3C/svg%3E");
}

form {
    padding: 20px;
    margin: 0px auto;
    width: 649px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}

form::after {
	content: url('data:image/svg+xml;%20charset=utf8,%20%3Csvg%20width%3D%22800px%22%20height%3D%2220%22%0A%20%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%20%3CforeignObject%20width%3D%22800px%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%3E%0A%09%3Cdiv%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxhtml%22%20style%3D%22font-family%3A%20Helvetica%3B%20font-size%3A%2012px%3B%20width%3D100%25%3B%22%3E%0A%09%09*To%20register%20for%20an%20ARM%20account%2C%20go%20to%20%3Cstrong%3Ehttps%3A%2F%2Fadc.arm.gov%2Farmuserreg%2F%23%2Fnew%3C%2Fstrong%3E%0A%09%3C%2Fdiv%3E%0A%20%3C%2FforeignObject%3E%0A%3C%2Fsvg%3E');
}

input {
    background-color: white;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 0.929em;
    line-height: 18px;
}

#username {
    margin-left: 27px;
    margin-top: 5px;
}

button {
    border: none;
    font-weight: normal;
    color: white;
    background: #0088cc;
    padding: 9px 18px;
    font-size: 1.143em;
    line-height: 15px;
    display: block;
    margin-top: 6px;
    margin-bottom: 28px;
}

label:before {
    content: ' '; display: block;
}
